button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #0000000d;
  color: #0e0e10;
  padding: 0 10px;
  :hover {
    background-color: #0000001a;
  }
}
#maindiv {
  width: 20%;
  margin: auto;
  margin-top: 20px;
}

body {
  display: flex;
  flex-direction: column;
}
.my-table {
  border-collapse: collapse;
  width: 100%;
}

.my-table th,
.my-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
